<!DOCTYPE html>
<html>

    <head>
        <!-- Title -->
        <title><% if main_name %><%= main_name %><% if year %>(<%= year %>)<% end %>
        <% else %>&iquest;Qu&eacute; tan popular es tu nombre?<% end %> Nombres Argentina</title>
        <!-- Meta Data -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Descubr&iacute; la historia y las estad&iacute;sticas de tu nombre durante los &uacute;ltimos 100 a&ntilde;os en Argentina."/>
        <meta name="keywords" content="data,nombres,argentina,nombres de bebes,nombres para bebes,lista de nombres"/>
        <meta http-equiv="Content-Language" content="es"/>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <!-- FaceBook -->
        <meta property="og:url" content="http://nombres.historias.datos.gob.ar">
        <meta property="og:type" content="article">
        <meta property="og:title" content="Tu nombre en los últimos 100 años">
        <meta property="og:site_name" content="Nombres en Argentina">
        <meta property="og:description" content="¡Descubrí qué tan popular fue tu nombre en el último siglo en Argentina! ">
        <meta property="og:image" content="http://nombres.historias.datos.gob.ar/images/Nombres_metadados_fb_1220x630.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1220">
        <meta property="og:image:height" content="630">
        <meta property="og:locale" content="es_ar">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@datosgobar"/>
        <meta name="twitter:title" content="Tu nombre en los últimos 100 años">
        <meta name="twitter:description" content="¡Descubrí qué tan popular fue tu nombre en el último siglo en Argentina!">
        <meta name="twitter:image:src" content="http://nombres.historias.datos.gob.ar/images/Nombres_metadados_tw_240x240.png">
        <!-- Favicon -->
        <link href="<%= asset_path('images/favicon.ico') %>" rel="shortcut icon" type="image/png"/>
        <!-- jQuery -->
        <script src="<%= javascript_path('jquery.min.js') %>"></script>
        <!-- jQuery - Full Page -->
        <link href="<%= stylesheet_path('jquery.fullPage.css') %>" rel="stylesheet" type="text/css"/>
        <script src="<%= javascript_path('fullPage/scrolloverflow.min.js') %>" type="text/javascript"></script>
        <script src="<%= javascript_path('fullPage/jquery.fullPage.js') %>" type="text/javascript"></script>
        <script src="<%= javascript_path('fullPage/app.js') %>" type="text/javascript"></script>
        <!-- jQuery - sumoSelect -->
        <script src="<%= javascript_path('jquery.sumoselect.min.js') %>" type="text/javascript"></script>
        <link href="<%= stylesheet_path('sumoselect.css') %>" rel="stylesheet" type="text/css"/>
        <!-- Opentip -->
        <link href="<%= stylesheet_path('opentip.css') %>" rel="stylesheet">
        <script src="<%= javascript_path('opentip.js') %>" type="text/javascript"></script>
        <script src="<%= javascript_path('opentip-jquery-excanvas.min.js') %>" type="text/javascript"></script>
        <!-- D3 -->
        <script src="<%= javascript_path('d3.v3.min.js') %>" type="text/javascript"></script>
        <!-- Bootstrap -->
        <link href="<%= stylesheet_path('bootstrap.min.css') %>" rel="stylesheet" type="text/css"/>
        <!-- <script src="<%= javascript_path('bootstrap.min.js') %>"></script> -->
        <!-- Poncho -->
        <!-- <link href="<%= stylesheet_path('poncho.css') %>" rel="stylesheet" type="text/css"/> -->
        <!-- Font Awesome -->
        <link href="<%= stylesheet_path('font-awesome.min.css') %>" rel="stylesheet"/>
        <!-- NanoScroll -->
        <script src="<%= javascript_path('nanoscroller.js') %>" type="text/javascript"></script>
        <link href="<%= stylesheet_path('nanoscroller.css') %>" rel="stylesheet" type="text/css"/>
        <!-- App Styles -->
        <link href="<%= stylesheet_path('reset.css') %>" rel="stylesheet" type="text/css"/>
        <link href="<%= stylesheet_path('gobar.css') %>" rel="stylesheet" type="text/css"/>
        <link href="<%= stylesheet_path('modal.css') %>" rel="stylesheet" type="text/css"/>
        <link href="<%= stylesheet_path('webapp.css') %>" rel="stylesheet" type="text/css"/>
        <!-- App Scripts -->
        <!-- <script src="<%= javascript_path('modernizr.min.js') %>"></script> -->
        <script src="<%= javascript_path('data_processor.js') %>"></script>
        <script src="<%= javascript_path('webapp.js') %>"></script>
        <!-- <script src="<%= javascript_path('modal.min.js') %>"></script> -->
    </head>

    <body>

      <!-- Barra de Navegación -->
      <header id="barra_navegacion">
        <div class="modalResponsive">
          <div class="flex flex-justify-between max-width max-height">
            <a id="logo_modernizacion" href="http://historias.datos.gob.ar" class="flex" alt="logo ministerio de modernización">
              <img src="/images/logo-gobar.svg">
            </a>
            <div id="header_redes_sociales" class="max-height">
              <span>COMPARTÍ</span>
              <a href="javascript: window.open('https://www.facebook.com/sharer/sharer.php?u=https://datosgobar.github.io/**producto-github**', 'pop', 'width=600, height=260, scrollbars=no');" target="_blank"><!-- completar -->
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
              </a>
              <a href="javascript: window.open('https://twitter.com/share?url=https://datosgobar.github.io/**producto-github**')" target="_blank"><!-- completar -->
                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </header>

      <!-- Secciones -->
      <div id="fullpage" class="nano">
        <div class="nano-content">
        <section id="section1" class="section active">
          <header class="sectionHeader">
            <div class="container altoTotal">
              <div class="altoTotal vcenter">
                <div class="text-center">
                  <img class="img_caritas" src="/images/caritasx2.svg">
                  <h1 class="headerTitle">Tu nombre en los últimos 100 años</h1>
                </div>
                <div class="text-center">
                  <aside class="headerSubTitle">Descubrí cuántas personas se llamaron como vos en Argentina.</aside>
                </div>
              </div>
            </div>
          </header>
          <section class="containerCont">
            <div class="container altoTotal">
              <div class="row altoTotal vcenter" style="justify-content: space-around;">
                <div class="parrafo_formulario">
                  <p>Ingresá tu nombre y un año. Compará varios nombres separándolos por coma.</p>
                </div>
                <div class="col-xs-12	col-sm-12	col-md-12	col-lg-12 text-center">
                  <form id="name-form" action="/" method="POST" autocomplete="off">
                    <div class="input_group formulario">
                      <label for="name">¿Cómo te llamás?</label>
                      <input type="text" id="name" name="name" value="<%= names.join(', ') %>" placeholder="Por ejemplo: María, Juan Manuel"/>
                      <!-- <div id="errorName" class="hide"></div> -->
                    </div>
                    <div class="input_group formulario">
                      <label for="year">¿En qué año naciste?</label>
                      <input type="text" id='year' name="year" placeholder="Por ejemplo: 1994" value="<%= year %>"/>
                      <!-- <div id="errorYear" class="hide"></div> -->
                    </div>
                    <button type="submit" class="btn btn-default">¡A buscar!</button>
                  </form>
                  <div class="form_errors">
                    <ul>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>

        <%= yield %>

        <div id="section5" class="section">

          <!-- Curiosidades -->
          <section module-nro="7" id="curiosidades" class="strictCenter modalContainer" style="background-color: rgb(249, 249, 249);">
            <div class="mod-col-col child-1 modalResponsive">
              <h3 class="title">¿Querés saber curiosidades sobre los nombres en Argentina?</h3>
              <div class="breakLine"><hr><hr></div>
              <a class="link link-block">
                <button class="button buttonRound" style="background-color: rgb(6, 149, 214); color: white;">
                  <span class="buttonBig boton_efecto">Ver curiosidades</span>
                </button>
              </a>
              <div class="breakLine"><hr><hr></div>
              <p class="paragraph" style="text-align: center;">Este producto es posible gracias a los
                <b>datos del Registro Nacional de las Personas</b>
                del Ministerio del Interior, Obras Públicas y Vivienda.</p>
              <div class="breakLine"><hr></div>
              <p class="paragraph" style="text-align: center;">Argentina cuenta con la
                <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/195000-199999/197860/norma.htm">ley 26.743</a>
                de identidad de género, que establece que cada persona tiene derecho al reconocimiento y al libre desarrollo de su identidad de género. Los nombres no tienen géneros definitivos. Fueron categorizados con un algoritmo predictivo con margen de error.</p>
              <div class="breakLine"><hr></div>
              <p class="paragraph" style="text-align: center;">Podés consultar el conjunto de datos original y también los datos específicos que usamos.</p>
              <div class="breakLine"><hr><hr></div>
              <p class="paragraph pSmall" style="text-align: center;">¿Encontraste algún error? Por favor,
                <a href="mailto:datos@modernizacion.gob.ar" class="link link-inline">escribinos</a>.</p>
              <div class="breakLine"><hr><hr></div><img src="/images/logo-interior.png" class="image" height="48"></div>
          </section>

          <!-- Footer -->
          <footer id="footer" class="container-fluid">
            <div class="restricted-max-width">
              <div id="footer-spacer" class="col-xs-12">
                <div class="footer-section logo col-xs-12 col-sm-6 col-md-6">
                  <p>
                    <a href="https://twitter.com/datosgobar" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a>
                    <a href="https://medium.com/datos-argentina" target="_blank" class="social-link"><i class="fa fa-medium"></i></a>
                    <a href="https://github.com/datosgobar" target="_blank" class="social-link"><i class="fa fa-github-alt"></i></a>
                    <a href="https://www.facebook.com/GobAbiertoAR/" target="_blank" class="social-link"><i class="fa fa-facebook"></i></a>
                  </p>
                  <a href="http://www.argentina.gob.ar/modernizacion" target="_blank"><img src="/images/logo-modernizacion.svg" class="logo-ministerio"></a>
                </div>
                <div class="no-padding footer-section links-externos col-xs-12 col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-4">
                  <a href="mailto:datos@modernizacion.gob.ar"><p>Contacto</p></a>
                  <a href="https://datosgobar.github.io/"><p>Nuestro equipo</p></a>
                </div>
              </div>
            </div>
          </footer>

        </div>
        </div>
      </div>
    </body>

</html>
